<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.calboard">

	<!-- property: DTO의 멤버필드, column:테이블의 컬럼 -->	
	<!-- dto의 멤버필드이름과 DB에 컬럼명이 다를경우 맵핑해 줄수 있다. -->
	<resultMap type="com.hk.dtos.CalDto" id="calDtoMap">
		<result property="seq" 		column="SEQ"/>
		<result property="id" 			column="ID"/>
		<result property="title" 	column="TITLE"/>
		<result property="content" 	column="CONTENT"/>
		<result property="mdate" 		column="MDATE"/>
		<result property="regdate" 	column="REGDATE"/>
		<collection property="loginDto" resultMap="loginDtoMap"/>
	</resultMap>
	
	<resultMap type="com.hk.dtos.LoginDto" id="loginDtoMap">
		<result property="id" 			column="ID"/>
		<result property="name" 		column="NAME"/>
		<result property="password" 	column="PASSWORD"/>
		<result property="address" 		column="ADDRESS"/>
		<result property="phone" 		column="PHONE"/>
		<result property="email" 		column="EMAIL"/>
		<result property="enabled" 		column="ENABLED"/>
		<result property="role" 		column="ROLE"/>
	</resultMap>

	<insert id="calInsert" parameterType="calDto">
		INSERT INTO CALENDAR_BOARD 
		VALUES (CALENDAR_BOARD_SEQ.NEXTVAL, #{id},#{title},#{content},#{mdate},SYSDATE)
	</insert>
	
	<select id="getCalBoardList" parameterType="Map" resultMap="calDtoMap">
		SELECT SEQ , ID ,TITLE , CONTENT , MDATE , REGDATE 
		FROM CALENDAR_BOARD
		WHERE ID=#{id} AND SUBSTR(MDATE,1,8) = #{ymd}
		ORDER BY MDATE
	</select>
	
	<delete id="mulDel" parameterType="Map">
		DELETE FROM CALENDAR_BOARD WHERE CSEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</delete>
	
	<!--join을 할 경우 조회되는 결과값을 어디에 담을지 고민..  -->
	<select id="calDetail" parameterType="int" resultMap="calDtoMap">
<!-- 		SELECT CSEQ,ID,NAME,CALTITLE ,CALCONTENT,CALREGDATE -->
<!-- 		FROM CALBOARD -->
<!-- 		WHERE CSEQ = #{cseq} -->
		SELECT c.SEQ , c.ID,u.NAME ,c.TITLE , c.CONTENT ,c.MDATE, c.REGDATE 
		FROM CALENDAR_BOARD c, USER_BOARD u
		WHERE c.ID =u.ID AND c.SEQ = #{seq}
	</select>
	
	<update id="calUpdate" parameterType="calDto">
		UPDATE CALENDAR_BOARD SET TITLE=#{title}, CONTENT=#{content}
		,MDATE=#{mdate},REGDATE=SYSDATE
		WHERE SEQ=#{seq}
	</update>
	
	<select id="calBoardListView" parameterType="Map" resultType="calDto">
		SELECT SEQ, ID,TITLE,CONTENT ,MDATE ,REGDATE
		FROM
		(SELECT ROW_NUMBER() OVER(PARTITION BY SUBSTR(MDATE,1,8) ORDER BY MDATE) AS RN
		,SEQ, ID,TITLE,CONTENT ,MDATE ,REGDATE 
		FROM CALENDAR_BOARD
		WHERE ID = #{id} AND SUBSTR(MDATE,1,6) = #{yyyyMM} )
		WHERE RN BETWEEN 1 AND 3
	</select>
	
	<select id="calListCount" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		FROM CALENDAR_BOARD
		WHERE ID= #{id} AND SUBSTR(MDATE,1,8) = #{yyyyMMdd}
	</select>
</mapper>